CONFIG_PRODUCT_MOBA=y
CONFIG_AW8697_HAPTIC=y
CONFIG_LEDS_AW9106=y
CONFIG_NETFILTER_XT_MATCH_QTAGUID_EXT=y
CONFIG_NETFILTER_XT_MATCH_TLV=y
CONFIG_NETFILTER_XT_TARGET_TCPOPTSTRIP=y
# CONFIG_TOUCHSCREEN_GOODIX_GTX8 is not set
# CONFIG_TOUCHSCREEN_GOODIX_GTX8_UPDATE is not set
# CONFIG_TOUCHSCREEN_GOODIX_GTX8_GESTURE is not set
# CONFIG_TOUCHSCREEN_GOODIX_GTX8_TOOLS is not set
# CONFIG_TOUCHSCREEN_GOODIX_GTX8_SECURETOUCH is not set
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSC_FW_UPDATE_EXTRA_SYSFS=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_GESTURE=y
CONFIG_SENSORS_SNT8100FSR=y
CONFIG_INPUT_FINGERPRINT=y
CONFIG_FINGERPRINT_GOODIX=y

CONFIG_CPU_FREQ_STAT=y
CONFIG_CPU_FREQ_TIMES=y

CONFIG_BATTERY_FAC=y
